build/
.idea
.gradle
local.properties
*.iml
# expo
.expo/
.idea/
.history/
# dependencies
/node_modules
package-lock.json
# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
*.bak
android/app/kittenTricks.jks
*.orig
.env.json
.expo
yarn\.lock
